<html>
   <body>
   <p>Score(1-10)</p>
    <form action='/rate?id=<%=r._id%>' method='POST'>
   <input type='number' name='rate' min='1' max='10'>
   <input type="submit" name='Rate'>
   </form>
   </body>
</html>