<html>
<body>
<form action="/searching" method='get'>

Name:<select name="name">
		<option value="" ></option>
		<% n.forEach(function(n) { %>	
				<option value=""+n>  <%=n%></option>
			<% });%>
		</select>
<br>	
<br>
Borough:<select name="borough">
		<option value="" ></option>
		<% b.forEach(function(b) { %>
				<option value=""+ b> <%=b%></option>
			<% });%>
		</select>
<br>
<br>
Cuisine:<select name="cuisine">
		<option value="" ></option>
		<% c.forEach(function(c) { %>
				<option value=""+c> <%=c%></option>
			<% });%>
		</select>
<br>
<br>
<input type="submit" value="Search"/>
</form>	
</body>
</html>