<html>
<body>
<form action="/search" method='post'>
Name:<select name="name">
		<% for (i in n) { %>
				<option value=""+n[i]> + n[i] + "</option>";
			<% }%>
		</select>
<br>	
Borough:<select name="borough">
		<% for (i in b) { %>
				<option value=""+b[i]> + b[i] + "</option>";
			<% }%>
		</select>
<br>
Cuisine:<select name="cuisine">
		<% for (i in c) { %>
				<option value=""+c[i]> + c[i] + "</option>";
			<% }%>
		</select>
</form>		
<input type="submit" value="Search"></form>
</body>
</html>