<html>
<body>
<form action="/searching" method='get'>

Name:<input type='text' name='name'><br>
<br>	
<br>
Borough:<input type='text' name='borough'><br>
<br>
<br>
Cuisine:<input type='text' name='cuisine'><br>
<br>
<br>
<input type="submit" value="Search"/>
</form>	
</body>
</html>
