<html>
   <body>
      <H1 align="center">User: <%= name %></H1>
      <H2 align="center">Showing <%=r.length %> document(s)</H2>
	 <p><a href=/search>Search Restaurant</a></p>

	 <p><a href=/new>Create New Restaurant</a></p>
	 <ol>
		<% r.forEach(function(restaurants) { %>
		<li><a href=/display?id=<%= restaurants._id %>><%= restaurants.name %></a></li>
	<% });   %>
	</ol>
   </body>
</html>